
body{
  font-family:"Myriad Web Pro",Helvetica,Arial,sans-serif;
  font-size:1.2em;
  line-height:1.125em;
  background:  #FFFFFF none repeat scroll 0 0;
  color: #000000;
  margin-top:1em;
  margin-left:1.5em;
  margin-right:1em;
}

.header{
  border-bottom:0.4167em solid #333333;
  line-height:1.125em;
}

.product-logo{
  width:30%;
  color:maroon;
  float:left;
  font-size:31px;
  
}

.upper-navigation {
  width:68%;
  float:right;
  text-align:right;

}

.upper-navigation a{
  color:#838383;
  text-decoration:none;
}

.upper-navigation a:hover{
  color:maroon;
  text-decoration:underline;

}

.pad12{
  width:100%;
  padding:4px;
}

.product-message{
 width:100%;
 text-align:right;
 font-style:italic;
 font-size:20px;
 color:#888888;
}

.footer{
  font-size:14px;
  text-align:right;
  border-top:4px solid #838383;
  width:100%;
  background:#FAF9DC;
  border-bottom:4px solid #EDEDED;
}

.footer a{
  color:#888888;
  text-decoration:none;
}

.footer a:hover{
  color:maroon;
  text-decoration:underline;
}
