<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title> <%=h  yield(:title) || controller.action_name %> </title>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="header">
      <div class="product-logo">  
        <b> WHYLT </b> 
      </div> 
      <div class="upper-navigation">
        <a href="#"> Login </a> |
        <a href="#">  Register </a> 
      </div>
      <p class="pad12">&nbsp;</p>
      <div class="product-message">
        What have you learnt today?
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>


   <!-- Page Content -->
    <div class="content">
      <%= yield %>
    </div>

    <!-- Footer and Other Details -->
    <div class="footer">     
      <a href="#"> About Us </a> | <a href="#"> FAQ </a> | <a href="#"> Contact Us</a>
    </div>

  </body>
</html>
